// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.h-1 {
    height: 1rem;
    width: 1rem;
}
.bg-brand {
    background-color: $primary;
}
.color-brand {
    color: $primary;
}

.btn-flex {
    display: flex;
    align-items: center;
    gap: 3px;
}
